.navbar-div{
  display: flex;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:rgb(0, 0, 0);
	background:rgba(112, 109, 104, 0.848);
	padding:8px;
  justify-content: space-evenly;
}

a{
  color:black;
  text-decoration: underline;
  display: inline;
}
.content-grid
{
  display:grid;
  grid-template-columns: 50% 50%;
}
.list-grid
{
  display:grid;
  grid-auto-flow: row;
}
.content-card
{
  min-width:50%;
  max-width:85%;
  margin:5%;
  padding:5%;
  border-style: solid;
  border-color:black;
  border-radius: 25px;
  
}
.card{
  background-color: slategray;
  color: black;
  min-width:50%;
  max-width:85%;
  margin:5%;
  padding:5%;
  border-style: solid;
  border-color:black;
  border-radius: 25px;
  text-align:center;
}

  .sillyString{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    position:absolute
  }
  .test-room{
    width:100vw;
    height:95vh;
    position:relative;
  }
  .buttons{
    display:flex;
    height:200px;
    width: 20%;
    top:0px;
  }
  body{
    background: url("../img/Body_Bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1,h2,h3,p{
    font-family: 'Londrina Solid', cursive;
  }
  p{
    font-size: large;
  }

.float{
  float:right;
}