@{
  Layout="_Layout";
}
@using Factory.Models

<h1>Machines</h1>

<div class="list-grid">
  @if(Model.Count == 0)
  {
    <p>Gotta build a machine. Maybe a roomba?</p>
  }
  
  @foreach (Machine machine in Model)
  {
    <div class="content-card">
      <h3>@Html.ActionLink($"{machine.Name}", "Details", new {id = machine.MachineId})</h3>
    </div>
  }
</div>

<h3>@Html.ActionLink("Build Machine", "Create", "Machines")</h3>