<div class="navbar-div">
  <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
  <h2>@Html.ActionLink("Engineers", "Index", "Engineers")</h2>
  <h2>@Html.ActionLink("Machines", "Index", "Machines")</h2>
</div>