@{
  Layout="_Layout";
}
@using Factory.Models

<h1>Engineers</h1>

<div class="list-grid">
  @if(Model.Count == 0)
  {
    <p>Lets Hire some workers! is $12 a hour enough? how much could a bunch of bananas cost? $15?</p>
  }
  
  @foreach (Engineer engineer in Model)
  {
    <div class="content-card">
      <h3>@Html.ActionLink($"{engineer.Name}", "Details", new {id = engineer.EngineerId})</h3>
    </div>
  }
</div>

<p>@Html.ActionLink("Hire Engineer", "Create", "Engineers")</p>