@{
  Layout = "_testingLayout";
}
<div class="color-selector">
  <p>Change Color here:</p>
  <label for="color">Pick Your color here!</label>
  <input type="color" id="color" name="testcolor">
  <button type="click" id="colorButton" class="btn btn-success">Change Color!</button>
</div>
  <div class="test-room"></div>

